//Primary Colors
///////////////////////////////////////////////////////////

$primary-color-dark-blue: hsl(233, 47%, 7%); // (main background)
$primary-color-dark-desaturated-blue: hsl(244, 38%, 16%); // (card background)
$primary-color-soft-violet: hsl(277, 64%, 61%); // (accent)

//Neutral Colors
///////////////////////////////////////////////////////////

$neutral-color-white: hsl(0, 0%, 100%); // (main heading, stats)
$neutral-color-main-paragraph: hsla(0, 0%, 100%, 0.75);
$neutral-color-stat-headings: hsla(0, 0%, 100%, 0.6);
